// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table{
	border: 3px solid black;
	border-collapse: collapse;
}
th{
	background: gray;
	border-right: 3px solid black;
}
tr:nth-child(even){
	background-color: lightgray;
}
td{
	min-width: 100px;
	padding: 3px 5px;
	border-right: 3px solid black;
	text-align: center;
}
td>*{
	margin: 0px 15px;
}
tr:nth-child(even) {background-color: #f2f2f2}
tr:hover {background-color: #ddd}



.eventInfo{
	width: 50%;
}

.discussionInfo{
	width: 50%;
}
.discussion{
	height: 300px;
	overflow: scroll;
	border: 3px solid black;
	padding: 10px;
	max-width: 80%;
}