// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




//  Login/Registration Page
#indexContainer{
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.loginRegContainer{
	border: 3px solid black;
	display: inline-block;
	width: 48%;
	position: relative;
	min-width: 315px;
	margin-top: 20px;
}

#loginContainer{
	height: 100%;
}
#registrationContainer{

}

.indexTitle{
	position: absolute;
	top: -35px;
	left: 30px;
	background: white;
	display: inline-block;
}
.row{
	text-align: right;
	margin: 10px 20px 0px 0px;
}
#locationinput{
	max-width: 195px;
}
label{
	float: left;
	margin-left: 20px;
	font-size: 1.2em;
}
input:not([type="submit"]){
	border: 3px solid black;
	width: 250px;	
	height: 1.8em;
	margin-left: 5px;
}
textarea:focus, input:focus {
	border: 2px solid green;
}