// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.editForm{
	display: inline-block;
	width: 48%;
	position: relative;
	min-width: 315px;
	margin-top: 20px;
}